*{
	padding: 0px;
	margin: 0px;
}
body{
	background: black;
	background: url(assets/fundo.jpg);
	background-size: cover;
}
header{
	display: flex;
	justify-content: center;
}

main{
	display: flex;;
	justify-content: center;
}
footer{
	display: flex;
	justify-content: center;
}
.img1{
	border-radius: 50%;
}
.container{	
	width: 900px;
	background: white;
	display: flex;
	border-radius: 10px;
	box-shadow: 5px 5px black;
}
.titulo{
	font-size: 50px;
	text-align: center;
	font-style: italic;
}
.texto{
	font-size: 27px;
	margin-top: 55px;
	text-align: center;
	font-style: italic;
}
.imgfooter, .imgfooter1, .imgfooter2{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: flex;
}
.divfooter{
	width: 400px;
	height: 100px;
	display: flex;
	justify-content: space-between;
}
